*{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
    padding:0;
}
a{
    text-decoration:none;
    color:#14c700;
}
.warp{
    position:relative;
    width:400px;
    height:400px;
    margin:100px auto 0;
    background-color:green;
    overflow:hidden;
}
.img{
    position:absolute;
    width:2000px;
    height:400px;
}
.img img{
    float:left;
}
.preandNext{
    position:absolute;
    top:50%;
    width:100%;
    height:50px;
    margin-top:-25px;
}
.pre-Left,.pre-Right{
    display:inline-block;
    width:30px;
    height:50px;
    font-size:20px;
    color:white;
    font-style:normal;
    text-align:center;
    line-height:50px;
    background-color:rgba(0,0,0,0.3);
    cursor: pointer;
}
.pre-Left,.pre-Right{
    opacity:0;
}
.floatPreL{
    float:left;
}
.floatPreR{
    float:right;
}
.preandNext:hover > i{
    opacity:1;
}